<section class="service-s2 container-fluid d-flex minh-50vh bg-white align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-12 col-md-7 mx-auto minh-50vh d-flex align-items-center">
            <div class="w-100 text-center">
                <h2 class="dispaly-6 fw-bold text-dark">
                    Lorem ipsum
                </h2>
                <p class="text-dark">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse 
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit 
                    anim id est laborum.
                </p>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="text-dark">
                            <th class="w-25">Name</th>
                            <th class="w-50">Description</th>
                            <th class="w-25">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>